.header-wrapper {
    background-color: var(--main-gray);
    font-size: 1.7rem;
}

.header-uniq {
    text-transform: capitalize;
    color: var(--main-red) !important;
}

.shop-uniq {
    color: var(--main-red);
}

.header-count-uniq {
    color: var(--main-white);
}

.header-text {
    color: var(--main-red);
}

.main-header-logo{
    cursor: pointer;
    text-decoration: none;
    color: var(--main-white);
}

.main-header-logo:hover,
.main-header-logo:active {
    color: white;
}

@media screen and (min-width: 576px) {

    .header-text {
        padding: 20px;
    }

    .header-wrapper {
        font-size: 1.3rem;
    }
} 

@media screen and (min-width: 768px) {

    .header-text {
        padding: 20px;
    }

    .header-wrapper {
        font-size: 1.8rem;
    }
}