.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-gray);
    font-size: 24px;
}

.header-text {
    display: block;
    color: var(--main-red);
    padding: 20px;
}

.header-uniq {
    text-transform: capitalize;
}

.shop-uniq {
  color: var(--main-white);
  text-transform: uppercase;
}

.header-count {
    color: var(--main-white);
}

a .header-text {
    cursor: pointer;
}