<div (click)="onSelected()" [ngClass]="{'list-item-wrapper': true, 'selected': isSelected}">
      <div class="list-item-image-wrapper">
        <img class="list-item-image" [src]="product.img" alt="">
        <span class="helper">
          <span class="helper-text">click to see more detail about product</span>
        </span>
      </div>
      <div class="list-item-description-wrapper">
        <h4 class="list-item-description list-item-name">{{ slicedProductName }}</h4>
        <p class="list-item-description list-item-company">Company: {{product.brand}}</p>
        <p class="list-item-description list-item-code">Code: {{product.asin}}</p>
        <p class="list-item-description list-item-price">Price: 
            <span class="price-uniq">
              <strong>{{product.price | currency: product.currency}}</strong>
            </span>
        </p>
      </div>
</div>