.products-list-heading {
    font-size: 1.4rem;
    color: var(--main-blue);
    border-bottom: 3px solid var(--main-blue);
}

.container-fluid {
    margin-top: 72px !important;
}

.input-wrapper {
    flex-wrap: nowrap;  
}

.products-input{
    padding: 4px 4px 4px 8px;
    background-color: #E6ECEF;
    color: var(--main-blue);
    border: 1px solid var(--main-blue);
    font-weight: 300;
    outline: none;
    letter-spacing: 1.3px;
    width: 100%;
}

.caterogy-wrapper{
    border: 1px solid var(--main-blue);
    text-align: center;
    font-size: 0.75rem;
    width: 100%;
}

.category-item {
    padding: 6px;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid var(--main-blue);
}

.category-item:nth-child(odd) {
    background-color: #FFF8F0;
}

.category-item:nth-child(even) {
    background-color: #E6ECEF;
}

.category-item:hover,
.category-item:active {
    background-color: rgb(253, 209, 159); 
}

.category-item:last-child {
    border-bottom: none;
}

.selected {
    color: var(--main-red);
}

@media screen and (min-width: 960px) {

    .products-list-heading {
        font-size: 1.8rem;
    }
}