<h3 class="products-list-heading">All avaliable products below</h3>
<div class="input-wrapper">
  <label for="search-input">Search for desire one!</label>
  <input id="search-input" type="text" #myInput class="products-input" placeholder="Search..." (input)="filterItem(myInput.value)">
</div>
<app-products-item
  *ngFor="let productElement of filteredProducts" 
  [product]='productElement'
  (click)="onClickMade(productElement)"
  [selected]="choosenElement"
  (productSelected)="onProductSelected(productElement)">
</app-products-item>