<div class="container-fluid">
  <div class="row">
      <div class="col-12">
        <h4 class="products-list-heading text-center">All avaliable products below</h4>
      </div>
      <div class="search-field-wrapper col-12">
        <div class="row align-items-center">
          <p class="col-12 text-center">Search or choose category</p>
          <div class="input-wrapper col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
            <label for="search-input">Search for desire one!</label>
            <input  id="search-input" 
                    type="text"
                    class="products-input" 
                    placeholder="Search..." 
                    [(ngModel)]="inputValue"
                    (input)="onSearchInputCheck()">
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="caterogy-wrapper">
                <li *ngFor="let category of categoryList; let i = index"
                    (click)="onCategoryChosen(category)"
                    [ngClass]="{'category-item': true, 'selected': selectedCategory === category}">
                  <span class="category-text">{{ category }}</span>
                </li>
            </ul>
          </div>
        </div>
      </div>
  <div class="col-12" *ngIf="productsState$" >
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let productElement of filteredProducts">
        <app-products-item
          [product]='productElement'>
        </app-products-item>
      </div>
    </div>
  </div>
</div>