.products-list-heading {
    text-align: center;
    color: var(--main-blue);
    padding: 20px;
    border-bottom: 3px solid var(--main-blue);
}

.products-input{
    display: block;
    padding: 3px 3px 3px 10px;
    margin: 10px auto;
}