<div class="container-fluid main-wrapper">
  <div class="product-detail-wrapper row">
    <button class="close-btn" (click)="onClose('close')">
      <i class="fa fa-times"></i>
    </button>
    <div class="col-12 col-md-6 mt-6">
      <div class="products-detail-image-wrapper">
          <img class="product-detail-image" [src]="product.img" alt="product-photo">
      </div>
    </div>
    <div class="col-12 col-md-6 mt-6">
        <div class="product-detail-main-description">
          <p class="product-detail-main-item">
            <strong>Company</strong> : {{ product.brand }}
          </p>
          <p class="product-detail-main-item">
            <strong>Price</strong> : <span class="price-uniq">{{ product.price | currency: product.currency }}</span>
          </p>
          <p class="product-detail-main-item">
            <strong>Code</strong> : {{ product.asin }}
          </p>
        </div>
    </div>
  <h3 class="product-detail-heading">
    <span class="product-unique">Product</span> : {{ product.name }}
  </h3>
  <div class="col-12">
    <div class="product-detail-additional-info row">
        <div class="product-detail-additional-general col-12 col-md-6 col-sm-6 col-lg-4">
          <h6 class="product-detail-additional-heading">
            <strong>Additional info</strong>
          </h6>
          <p class="product-detail-item">Stars : {{ product.stars }}</p>
          <p class="product-detail-item">Category : {{ product.bsr_category }}</p>
          <p class="product-detail-witem">Weight : {{ product.weight | number: '.2-3' }}</p>
          <p class="product-detail-item">Value : {{ product.bsr_value }}</p>
        </div>
        <div class="product-detail-additional-sizes col-12 col-md-6 col-sm-6 col-lg-4">
            <h6 class="product-detail-additional-heading">
              <strong>Sizes</strong>
            </h6>
            <p class="product-detail-item">Widht : {{ product.size[0] | number: '.2-3' }}</p>
            <p class="product-detail-item">Height : {{ product.size[1] | number: '.2-3'}}</p>
            <p class="product-detail-item">Depth : {{ product.size[2] | number: '.2-3'}}</p>
        </div>
        <div class="product-detail-additional-else col-12 col-md-6 col-sm-6 col-lg-4">
            <h6 class="product-detail-additional-heading"><strong>Addition</strong></h6>
            <p class="product-detail-item">Shipping Weight : {{ product.brand_class }}</p>
            <p class="product-detail-item">Daily Sales : {{ product.daily_sales }}</p>
            <p class="product-detail-item">Votes Count : {{ product.votes_count }}</p>
        </div>
    </div>
  </div>
  <a class="product-detail-link" [href]="product.link" target="_black">Read More</a>
</div>