.product-detail-wrapper {
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid var(--main-blue);
    padding: 10px;
    font-size: 0.8rem;
    background-color: #E6ECEF;
    box-shadow: 0px 1px 7px 2px rgba(0,0,0,0.75);
}

.product-detail-main-info {
    display: flex;
    height: 100%;
    flex-direction: column;  
}

.product-detail-image {
    max-height: 200px;
}

.product-unique {
    color: var(--main-red);
}

.product-detail-main-description {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: var(--main-blue);

}

.product-detail-link {
    display: block;
    text-decoration: none;
    color: #3257DB;
    margin: 0 auto;
    font-size: 130%;
    padding: 3px;
    border-bottom: 1px solid var(--main-blue);
}

.product-detail-heading {
    text-align: justify;
    font-size: 0.8rem;
    color: var(--main-blue);
}

.product-detail-additional-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
    color: var(--main-blue);
}

.product-detail-additional-item {
    display: block;
    color: var(--main-blue);
    font-size: 0.7rem;
}

.product-detail-additional-else {
    align-self: center;
    color: var(--main-blue);
}

.product-detail-additional-heading {
    font-size: 0.7rem;
}

.product-detail-additional-heading:last-child {
    text-align: center;
}

.price-uniq {
  font-weight: bold;
  color: var(--main-red);
}


@media screen and (min-width: 760px) {

    .product-detail-wrapper {
        font-size: 1.0rem;
        top: 100px;
    }

    .product-detail-main-info {
        flex-direction: row;
    }

    .product-detail-image {
        max-height: 250px;
    }

    .product-detail-heading {
        text-align: justify;
        font-size: 1rem;
    }

    .product-detail-main-item {
        margin: 5px;
    }

    .product-detail-main-description {
        margin: 5px;
    }

    .product-detail-main-item {
        margin: 5px;
    }

    .product-detail-additional-heading {
        font-size: 1rem;
    }
}