<div class="product-detail-wrapper">
  <div class="product-detail-main-info">
    <img class="product-detail-image" [src]="product.img" alt="">
    <div class="product-detail-main-description">
      <h3 class="product-detail-heading"><span class="product-unique">Product</span> : {{ product.name }}</h3>
      <span class="product-detail-main-item product-detail-brand">Company : {{ product.brand }}</span>
      <span class="product-detail-main-item product-detail-price">Price : {{ product.price | currency: product.currency }}</span>
      <span class="product-detail-main-item product-detail-code">Code : {{ product.asin }}</span>
    </div>
  </div>
  <div class="product-detail-additional-info">
    <div class="product-detail-additional-general">
      <h6 class="product-detail-additional-heading">Additional info</h6>
      <span class="product-detail-additional-item product-detail-stars">Stars : {{ product.stars }}</span>
      <span class="product-detail-additional-item product-detail-category">Category : {{ product.bsr_category }}</span>
      <span class="product-detail-additional-item product-detail-weight">Weight : {{ product.weight | number: '.2-3' }}</span>
      <span class="product-detail-additional-item product-detail-value">Value : {{ product.bsr_value }}</span>
    </div>
    <div class="proproduct-detail-additional-item duct-detail-additional-sizes">
        <h6 class="product-detail-additional-heading">Sizes</h6>
        <span class="product-detail-additional-item product-detail-width">Widht : {{ product.size[0] | number: '.2-3' }}</span>
        <span class="product-detail-additional-item product-detail-height">Height : {{ product.size[1] | number: '.2-3'}}</span>
        <span class="product-detail-additional-item product-detail-depth">Depth : {{ product.size[2] | number: '.2-3'}}</span>
    </div>
  </div>
  <div class="product-detail-additional-else">
      <h6 class="product-detail-additional-heading">Addition</h6>
      <span class="product-detail-additional-item product-detail-width">Shipping Weight : {{ product.brand_class ? product.brand_class : 'not included' }}</span>
      <span class="product-detail-additional-item product-detail-height">Daily Sales : {{ product.daily_sales }}</span>
      <span class="product-detail-additional-item product-detail-depth">Votes Count : {{ product.votes_count }}</span>
  </div>
  <a class="product-detail-link" [href]="product.link" target="_black">Read More</a>
</div>

